input, select, button {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}
select
{
    min-width: 150px;
}
.formBody{
    margin-left: 280px;
}
.formBody > div{
    margin-left: 350px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  textarea {
    border: 1px solid black;
    background: rgb(203, 223, 233);
    color: rgb(80, 76, 76);
    padding: 10px;
    height: 300px;
    font-size: 1.2em;
  }

.succesLabel{
    display: inline;
    font-size: 2em;
    padding-top: 5px;;
}
.succesLabel > span
{
    position: relative;
    top: 7px;
}
.defaultState{
    color: red;
}
.succesState{
    color: green;
}
.succesLabel > p
{
    display: inline;
    position: relative;
    top: 3px;
    font-size: 0.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonDisplay
{
    display: none;
}


input.ng-touched, textarea.touched {
	border: 1px solid red;
}

input.ng-valid, textarea.ng-valid {
	border: 1px solid black;
}


.message{
    color: red;
}

succesLabel > span.ng-invalid{
    color: red;
}
